@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.cajitaxd {
  background-color: black;
  font-family: "arial";
  font-weight: bold;
  font-size: 11px;
  letter-spacing: 1px;
  color: white;
  height: 100%;
  justify-content: start;
  resize: none;
  outline: none;
}

.cajitaxd::-webkit-scrollbar {
  width: 5px;
  background: white;
}

.cajitaxd::-webkit-scrollbar-track {
  background: black;
}
.cajitaxd::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 0px;
  border: 1px solid red;
}

.cajaProyectos {
  color: black;
  perspective: 1000px;
}
.cards {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
}
